@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Poppins&family=Baloo+2:wght@500&display=swap");

:root {
	/* Doc Colors */
	--doc-title-size: 3rem;
	--doc-title-font: "Baloo 2", Poppins, Roboto, cursive;
	--doc-bg-color: rgb(255, 255, 255);
	--doc-text-color: rgb(255, 255, 255);

	/* Nav Colors */
	--nav-bg-color: rgba(0, 31, 84, 0.8);
	--nav-text-color: rgb(255, 255, 255);
	--nav-hover-color: rgba(164, 164, 164, 0.2);
	--nav-dropdown-bg-color: rgba(28, 108, 140, 0.9);
	--nav-dropdown-hover-color: rgb(16, 94, 139);

	/* Article*/
	--article-bg-color: rgb(255, 255, 255);
	--article-text-color: rgb(0, 0, 0);
	--article-title-size: 1.8em;
	--article-text-size: 1em;

	/* Acordeon */
	--acordeon-bg-color: #eee;
	--acordeon-text-color: #444;
	--acordeon-text-size: 1em;
	--acordeon-bg-hover-color: #ccc;
	--acordeon-bg-active-color: rgb(206, 206, 206);
	--acordeon-panel-bg-color: rgb(62, 62, 62);
	--acordeon-panel-text-color: rgb(255, 255, 255);
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--doc-bg-color);
	color: var(--doc-text-color);
	font-family: Poppins, Roboto, cursive;
}

/********************** Navbar *************************/
#eduissed-header {
	font-family: "Baloo 2";
	background-color: var(--nav-bg-color);
	color: var(--nav-text-color);
	background-color: transparent;
}

.navbar {
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	width: 100%;
	background-color: var(--nav-bg-color);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	color: var(--nav-text-color);
	z-index: 10;
}
.nav-menu a,
.aprende {
	color: var(--nav-text-color);
}

.navbar li,
.aprende {
	list-style: none;
	font-size: 1.2rem;
	cursor: pointer;
}

.navbar a,
.aprende {
	text-decoration: none;
}

/* Logo */
.logo {
	display: flex;
	align-items: center;
	font-size: 32px;
}
.logo img {
	width: 100px;
	z-index: 2;
}

.logo:hover img {
	transform: scale(1.05);
	transition: 100ms;
}
/* Navbar */
.nav-menu {
	display: flex;
	gap: 1em;
	font-size: 20px;
}

.nav-menu li {
	padding: 5px 14px;
}

.nav-menu li:hover,
.nav-menu li:focus {
	background-color: var(--nav-hover-color);
	border-radius: 5px;
	transition: 0.3s ease;
}

/* Drop */
.aprende {
	position: relative;
	border: none;
	background-color: transparent;
}
.dropdown {
	background-color: var(--nav-dropdown-bg-color);
	/* padding: 1em 0; */
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	position: absolute;
	display: none;
	border-radius: 8px;
	top: 30px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown li + li {
	margin-top: 10px;
}
.dropdown li {
	/* padding: 0.5em 1em; */
	width: 10rem;
	text-align: left;
}
.dropdown li:hover,
.dropdown li:focus {
	background-color: var(--nav-dropdown-hover-color);
}
.aprende:hover .dropdown,
.aprende:focus .dropdown {
	display: block;
}

/*HAMBURGER MENU*/

.hamburger {
	display: none;
	margin-right: 20px;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.1s ease-in-out;
	background-color: var(--nav-text-color);
}

/********************** Main Content *************************/

.canvas {
	transform: translateY(120px);
	width: 100%;
	height: 200%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.parent {
	top: 20px;
	position: absolute;
	width: 95%;
	height: auto;
	min-height: 90%;
	background-color: var(--article-bg-color);
	color: var(--article-text-color);
	border-radius: 10px;
	font-size: var(--article-text-size);
}

.parent h1 {
	font-size: var(--doc-title-size);
	font-family: var(--doc-title-font);
	margin-bottom: 1em;
	text-align: center;
	margin: 40px 10px 30px 10px;
}

.parent p {
	font-family: Poppins, Roboto, cursive;
}

#introduccion {
	line-height: 1.5em;
	text-align: justify;
	margin: 1em 4em;
	font-size: large;
}

/* Menu responsive */
@media (max-width: 768px) {
	.navbar {
		height: 12%;
	}

	.logo img {
		width: 70px;
	}

	.nav-menu {
		position: fixed;
		left: -150%;
		top: 6rem;
		flex-direction: column;
		background-color: var(--nav-dropdown-bg-color);
		width: 100%;
		text-align: center;
		transition: 0.1s;
		padding: 0;
		gap: 0;
	}

	.nav-menu.active {
		left: 0;
		z-index: 3;
	}

	.nav-item {
		margin: 1.5rem 0;
	}

	.hamburger {
		display: block;
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0);
		border: none;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
	/* .aprende:hover .dropdown {
		display: none;
	} */

	.parent {
		position: absolute;
		width: 100%;
		top: 50px;
		font-size: 0.8em;
	}
}
