@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Roboto, cursive;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color: rgb(2, 169, 80);
	color: #fff;
}
.nav-links a {
	color: #fff;
}
/* Logo */
.logo {
	font-size: 32px;
}

.logo img {
	width: 100px;
	z-index: 2;
}

.logo:hover img {
	transform: scale(1.1);
	transition: 100ms;
}
/* Navbar */
.menu {
	display: flex;
	gap: 1em;
	font-size: 18px;
}
.menu li:hover {
	background-color: #107339;
	border-radius: 5px;
	transition: 0.3s ease;
}
.menu li {
	padding: 5px 14px;
}
/* Drop */
.aprende {
	position: relative;
}
.dropdown {
	background-color: #107339;
	/* padding: 1em 0; */
	position: absolute;
	display: none;
	border-radius: 8px;
	top: 30px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown li + li {
	margin-top: 10px;
}
.dropdown li {
	/* padding: 0.5em 1em; */
	width: auto;
	text-align: center;
}
.dropdown li:hover {
	background-color: #199d50;
}
.aprende:hover .dropdown {
	display: block;
}

input[type="checkbox"] {
	display: none;
}
/*HAMBURGER MENU*/
.hamburger {
	display: none;
	font-size: 24px;
	-webkit-user-select: none;
	user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
	.menu {
		display: none;
		position: absolute;
		background-color: #107339;
		right: 0;
		left: 0;
		text-align: center;
		padding: 16px 0;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;
	}
	.menu li:hover {
		display: inline-block;
		background-color: #107339;
		transition: 0.3s ease;
	}
	.menu li + li {
		margin-top: 12px;
	}
	input[type="checkbox"]:checked ~ .menu {
		display: block;
	}
	.hamburger {
		display: block;
	}
	.dropdown {
		left: 50%;
		top: 30px;
		transform: translateX(35%);
	}
	.dropdown li:hover {
		background-color: #199d50;
	}
}
