@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
	/* Doc Colors */
	--doc-bg-color: rgb(125, 225, 255);
	--doc-text-color: rgb(0, 0, 0);

	/* Nav Colors */
	--nav-bg-color: rgb(19, 94, 192);
	--nav-text-color: rgb(255, 255, 255);
	--nav-hover-color: rgba(255, 255, 255, 0.2);
	--nav-dropdown-bg-color: rgb(19, 129, 192);
	--nav-dropdown-hover-color: rgb(16, 94, 139);

	/* Article*/
	--article-bg-color: rgb(255, 255, 255);
	--article-text-color: rgb(0, 0, 0);
	--article-title-size: 1.8em;
	--article-text-size: 1em;

	/* Acordeon */
	--acordeon-bg-color: #eee;
	--acordeon-text-color: #444;
	--acordeon-text-size: 1em;
	--acordeon-bg-hover-color: #ccc;
	--acordeon-bg-active-color: rgb(206, 206, 206);
	--acordeon-panel-bg-color: rgb(62, 62, 62);
	--acordeon-panel-text-color: rgb(255, 255, 255);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Roboto, cursive;
	background-color: var(--doc-bg-color);
	color: var(--doc-text-color);
}

/********************** Navbar *************************/

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	background-color: var(--nav-bg-color);
	color: var(--nav-text-color);
}
.nav-menu a {
	color: var(--nav-text-color);
}

.navbar li {
	list-style: none;
}

.navbar a {
	text-decoration: none;
}

/* Logo */
.logo {
	display: flex;
	align-items: center;
	font-size: 32px;
}
.logo img {
	width: 100px;
	z-index: 2;
}

.logo:hover img {
	transform: scale(1.05);
	transition: 100ms;
}
/* Navbar */
.nav-menu {
	display: flex;
	gap: 1em;
	font-size: 20px;
}
.nav-menu li:hover {
	background-color: var(--nav-hover-color);
	border-radius: 5px;
	transition: 0.3s ease;
}
.nav-menu li {
	padding: 5px 14px;
}
/* Drop */
.aprende {
	position: relative;
}
.dropdown {
	background-color: var(--nav-dropdown-bg-color);
	/* padding: 1em 0; */
	position: absolute;
	display: none;
	border-radius: 8px;
	top: 30px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown li + li {
	margin-top: 10px;
}
.dropdown li {
	/* padding: 0.5em 1em; */
	width: auto;
	text-align: center;
}
.dropdown li:hover {
	background-color: var(--nav-dropdown-hover-color);
}
.aprende:hover .dropdown {
	display: block;
}

/*HAMBURGER MENU*/

.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.1s ease-in-out;
	background-color: var(--nav-text-color);
}

/********************** Main Content *************************/

.canvas {
	transform: translateY(120px);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.parent {
	position: relative;
	width: 90%;
	height: 90%;
	background-color: var(--article-bg-color);
	color: var(--article-text-color);
	border-radius: 10px;
	font-size: var(--article-text-size);
}

.parent h1 {
	font-size: var(--article-title-size);
	margin-bottom: 1em;
	text-align: center;
	margin: 40px 10px 30px 10px;
}

/************ Acordeon ****************/
.acordeones {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	width: 90%;
	max-width: 800px;
	height: auto;
	padding: 0.5em;
	background-color: var(--acordeon-bg-color);
	color: var(--acordeon-text-color);
	border-radius: 10px;
}

.acordeon {
	background-color: var(--acordeon-bg-color);
	color: var(--acordeon-text-color);
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	border-radius: 10px;
	/* border-top-left-radius: 10px;
	border-top-right-radius: 10px; */
	transition: 0.1s;
	font-size: var(--acordeon-text-size);
}

.acordeon:hover {
	background-color: var(--acordeon-bg-hover-color);
}

.active-ac {
	background-color: var(--acordeon-bg-active-color);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.panel {
	background-color: var(--acordeon-panel-bg-color);
	color: var(--acordeon-panel-text-color);
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.1s ease-out;
	width: 100%;
	transition-delay: 100ms;
}

.panel li {
	list-style: none;
}

.acordeon:after {
	content: "\02795";
	font-size: 13px;
	color: var(--acordeon-text-color);
	float: right;
	margin-left: 5px;
}

.active-ac:after {
	content: "\2796";
}

#introduccion {
	line-height: 1.5em;
	text-align: center;
	margin: 1em 4em;
}

/* Menu responsive */
@media (max-width: 768px) {
	.hide-overflow {
		overflow: hidden;
	}

	.nav-menu {
		position: fixed;
		left: -150%;
		top: 7rem;
		flex-direction: column;
		background-color: var(--nav-dropdown-bg-color);
		width: 100%;
		text-align: center;
		transition: 0.1s;
		padding: 0;
		gap: 0;
	}

	.nav-menu.active {
		left: 0;
		z-index: 3;
	}

	.nav-item {
		margin: 1.5rem 0;
	}

	.hamburger {
		display: block;
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0);
		border: none;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
	.aprende:hover .dropdown {
		display: none;
	}
	.parent {
		width: 100%;
		margin-top: 0;
		font-size: 0.8em;
	}
	.acordeon {
		font-size: 1em;
	}
}
